.graph-goal{
    text-align: center;
    background-color: #fbfbfb;
    border-radius: 5px;
    /* width:100%!important;
    height:100%!important; */
    max-height:263px;
    max-width: 258px;
    padding: 15px;
}
.goal-title{
    /* z-index: 100; */
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    position: absolute;
    /* margin-top: 15px; */
    margin-left: -25px;
}

.graph-goal-value{
    z-index: 100;
    position: relative;
    top: -150px;
}
.graph-value{
    font-weight: bolder;
    font-size: 30px;
}

.recharts-legend-icon{
    display: none;
}

@media (max-width: 1024px){
    .graph-goal{
        max-height: 200px;
    }
    .graph-goal-value{
        top: -125px;
    }
    .graph-value{
        font-weight: bold;
        font-size: 20px;
    }
}