.content{
    display: flex;
}
.main-screen{
    width: 100%;
    max-width: 1200px;
}

/* aside{
    height: 2000px;
} */
.graphs-container{
    margin-right: 3%;
}
.single-graph{
    margin-bottom: 50px;
}
.graph-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


@media (max-width: 1400px) {
    main{
        margin-left: 25px;

    }
    .content{
        flex-direction: row;
    }
    .graphs-container{
        margin-right: 0;
    }
}