.content{
    display: flex;
}
.main-screen{
    width: 100%;
    max-width: 1200px;
}

/* aside{
    height: 2000px;
} */

.graph-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.single-graph{
    margin-bottom: 50px;
}

/* @media (max-width: 1400px) {
    .content{
        flex-direction: column;
    }
} */